/**
 * Common site styles and helpers.
 */
@import "etalab.less";

#toc, .toc {
    .well();
    // .well-lg();
    td {
        padding: 10px
    }

    #toctitle {
        padding: 10px;

        h2 {
            margin: 0;
        }
    }

    ul {
        margin: 0 20px;
    }
}

.nav-tabs {
    > li > a {
      line-height: 0.9;
    }
}
